.container{
    display: flex;
    flex-direction: row;
    height: 100%;
    background: #F2F2F2;
}
.header{
    
    left: 0px;
    top: 0px;

}

.logo{
    max-height: 325px;
    max-width: 530px;
    height: auto;
    width: auto;
}
.section{
    flex-basis: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.form{
    display: flex;
    flex-direction: column;
    padding: 57px 53px;
    background: #ffffff;
    border-radius: 10px;
    text-align: center;
    
}

input{
    border-radius: 10px;
    border-color: #14A6A6;
    padding-top: 15px;
    padding-left: 15px;
    padding-bottom: 15px;
    margin-bottom: 8px;
    border-style: solid;
    border-width: 2px;
}
input:focus{
    border-radius: 10px;
    border-color: #14A6A6;
    background-color: #F2F2F2;
    box-shadow: 0 0 0 0;
    outline: 0;
    
}

button{
    border-style: none;
    border-radius: 10px;
    background: #5ABA38;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 8px;
    color: #ffffff;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 37px;
    text-align: center;
}

button:hover{
    cursor: pointer;
    background: darkgreen;
}

#subtitle{
    color: #979191;
}