<mat-card class="editarPerfil">
  <mat-card-header>
    <mat-card-title class="title">
      Edite seu perfil aqui
    </mat-card-title>
    <mat-card-subtitle class="subtitle">
      Clique no lápis para editar o seu nome de usuário, ou digite sua nova senha nos campos abaixo.
    </mat-card-subtitle>
  </mat-card-header>

  <mat-form-field appearance="outline" class="nome">
    <mat-label>Nome do usuário</mat-label>
    <input matInput  value= ''>
    <mat-icon matSuffix class="icon">create</mat-icon>
  </mat-form-field>

  <mat-form-field appearance="outline" class="senha">
    <mat-label>senha</mat-label>
    <input matInput placeholder="Senha" [type]="hide ? 'password' : 'text'">
    <mat-icon class="icon" matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
  </mat-form-field>

  <mat-form-field appearance="outline" class="novasenha">
    <mat-label>Nova Senha</mat-label>
    <input matInput placeholder="Nova Senha" [type]="hide2 ? 'password' : 'text'">
    <mat-icon class="icon" matSuffix (click)="hide2 = !hide2">{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
  </mat-form-field>

  <button mat-button (click)="save()" class="save mat-elevation-z4 ">
    <i class="material-icons">
      done
    </i> Salvar
  </button>
  <button mat-button (click)="end()" class="cancel mat-elevation-z4 ">
    <i class="material-icons">
      done
    </i> Cancelar
  </button>
