.editarPerfil {
  position: relative;
  width: 538px;
  height: 651px;
  left: 451px;
  top: 187px;
  background: #ffffff;
  border-radius: 10px;
}
.editarPerfil .title {
  position: absolute;
  width: 432.39px;
  height: 35.01px;
  left: 40px;
  top: 51px;

  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 30px;
  text-align: center;

  color: #000000;
}
.editarPerfil .subtitle {
  position: absolute;
  width: 385.08px;
  height: 22.71px;
  left: 76px;
  top: 90px;

  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  text-align: center;

  color: #979191;
}
.editarPerfil .nome {
  position: absolute;
  width: 408px;
  height: 48px;
  left: 72px;
  top: 251px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  color: #979191;
}

.editarPerfil .senha {
  position: absolute;
  width: 408px;
  height: 48px;
  left: 72px;
  top: 325px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  color: #979191;
}

.editarPerfil .novasenha {
  position: absolute;
  width: 408px;
  height: 48px;
  left: 72px;
  top: 399px;
  font-family: Montserrat;
  font-weight: 600;
  color: #979191;
}
.editarPerfil .icon {
  color: #14a6a6;
}

.editarPerfil .save {
  display: table;
  position: absolute;
  position: absolute;
  width: 159px;
  height: 52px;
  left: 90px;
  top: 514px;
  background-color: #5aba38;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #ffffff;
  border-radius: 10px;
  border-color: #ffffff;
}
.editarPerfil .cancel {
  display: table;
  position: absolute;
  width: 159px;
  height: 52px;
  left: 281px;
  top: 514px;
  background-color: #14a6a6;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #ffffff;
  border-radius: 10px;
  border-color: #ffffff;
}
