<mat-card class="card">
    <mat-card-header>
      <mat-card-title class="title">Edição de Desafio #1</mat-card-title>
      <mat-card-subtitle class="subtitle">Clique no lápis para editar o nome do seu desafio ou os links.</mat-card-subtitle>
    </mat-card-header>
    

    <input class="imputs1" matInput placeholder="   Nome do desafio *">
  
    <input class="imputs2" matInput placeholder="   Link da imagem *">
  
    <input class="imputs3" matInput placeholder="   Link do vídeo">
  
    <input class="imputs4" matInput placeholder="   Link do áudio">
  
    <button mat-button (click)="salvar() " class="save mat-elevation-z4 ">
      <i class="material-icons">
        done
      </i>Salvar
    </button>
    <button mat-button (click)="cancelar() " class="end mat-elevation-z4 ">
      <i class="material-icons">
        done
      </i> Cancelar
    </button>
  </mat-card>
  