<app-header></app-header>

<div style="margin: 30px; background-color: #fff;">
  <img src="/assets/img/Imagemdahome.svg"
    alt="Imagem com um desenho que representa uma professora na lousa uma criança na carteira e outras duas garotras em pé">
</div>

<h1 id="sobre" class="subtitle" fxLayout="row">Sobre o EducaManager</h1>

<ng-container>

  <div fxLayout="row wrap" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutAlign="center center" class="box-style">
    <div class="example-card" fxFlex="0 1 calc(50% - 32px)" fxFlex.lt-sm="100%">

        <h1 class="title-card">Sobre o EducaManager</h1>

      <p style="padding: 3%">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse accumsan erat sit amet sem pellentesque
        consectetur. Fusce facilisis tincidunt justo, in lacinia turpis placerat sed. In finibus elit at lectus
        elementum tempus. Proin quis purus eu risus sodales scelerisque nec nec ligula. Vestibulum malesuada felis ac
        sollicitudin vehicula. Vestibulum elementum dapibus tellus quis congue. Fusce egestas suscipit molestie. Orci
        varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Etiam eu ex nec ante luctus
        blandit nec tempor lacus.
      </p>
    </div>

    <div class="example-card" fxFlex="0 1 calc(50% - 32px)" fxFlex.lt-sm="100%">


      <p>
        <iframe width="545" height="300" src="https://www.youtube.com/embed/b5TdZ_ox99A" title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
      </p>

    </div>
  </div>

  <div fxLayout="row wrap" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutAlign="center center" class="style-div-project">
    <mat-card class="example-card" fxFlex="0 1 calc(50% - 32px)" fxFlex.lt-sm="100%" style="border: 3px solid #5ABA38;">
      <mat-card-header>
        <mat-card-title class="title-card">Sobre o projeto SisAlfa</mat-card-title>
      </mat-card-header>
      <mat-card-content style="padding: 3%;">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse accumsan erat sit amet sem pellentesque consectetur. Fusce facilisis tincidunt justo, in lacinia turpis placerat sed. In finibus elit at lectus elementum tempus. Proin quis purus eu risus sodales scelerisque nec nec ligula. Vestibulum malesuada felis ac sollicitudin vehicula.
        </p>
      </mat-card-content>
    </mat-card>

    <mat-card class="example-card" fxFlex="0 1 calc(50% - 32px)" fxFlex.lt-sm="100%" style="border:3px solid #14A6A6">
      <mat-card-header>
        <mat-card-title class="title-card">Sobre o projeto App4society</mat-card-title>
      </mat-card-header>
      <mat-card-content  style="padding: 3%;">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse accumsan erat sit amet sem pellentesque consectetur. Fusce facilisis tincidunt justo, in lacinia turpis placerat sed. In finibus elit at lectus elementum tempus. Proin quis purus eu risus sodales scelerisque nec nec ligula. Vestibulum malesuada felis ac sollicitudin vehicula.
        </p>
      </mat-card-content>
    </mat-card>

  </div>
  <h1 id="aplicativos" class="subtitle" fxLayout="row">Aplicativos</h1>


  <div>


  </div>
</ng-container>

<br><br>
