.container{
    background: #F2F2F2;
    margin-top: 100px;
}

.button-filter{
    display: flex;
    margin-top: 39px;
    margin-bottom: 12px;
    padding: 10px 30px;
    font-size: 30px;
    font-style: normal;
    font-weight: 800;
    line-height: 37px;
    text-align: center;
    width: 400px;
    position: relative;
}

#header {
    display: flex;
    margin-top: 39px;
    margin-bottom: 12px;
    padding: 10px 30px;
    background: #14A6A6;
    color: #fff;
    font-size: 30px;
    font-style: normal;
    font-weight: 800;
    line-height: 37px;
    text-align: center;
    width: 400px;
    border-radius: 0px 15px 15px 0px;
    position: relative;
}

.name-user {
    font-weight: bolder;
    color: #535353;
}

.email-user{
    font-weight: bold;
    color: #535353;

}

.card {
    max-width: 348px;
}

.id-context{
    font-size: 25px;
    font-weight: bold;
}


.save {
    margin-top: 37px;
    margin-bottom: 45px;
    background-color: #5aba38;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #ffffff;
    border-radius: 10px;
    padding: 12px;
    border-color: #ffffff;
  }
  
  .cancel {
    margin-top: 37px;
    margin-bottom: 45px;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #ffffff;
    border-radius: 10px;
    padding: 12px;
    border-color: #ffffff;
  }
  
  .title {
    font-style: normal;
    text-align: center;
    color: #000000;
  }
  
  .subtitle {
    text-align: center;
    font-size: 20px;
    color: #979191;
    margin-bottom: 30px;
  }