.card {
    position: absolute;
    width: 931px;
    height: 628px;
    background: #ffffff;
    border-radius: 10px;
  }
  .card .title {
    position: absolute;
    width: 348px;
    height: 55px;
    left: 291px;
    top: 65px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 37px;
    text-align: center;
    color: #14a6a6;
  }
  .card .subtitle {
    position: absolute;
    width: 512px;
    height: 69px;
    left: 218px;
    top: 108px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #979191;
  }
  
  .card .imput1 {
    position: absolute;
    width: 408px;
    height: 48px;
    left: 261px;
    top: 204px;
    border: solid 2px;
    border-radius: 10px;
    border-color: #14a6a6;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
  
    color: #979191;
  }
  .card .imput2 {
    position: absolute;
    width: 408px;
    height: 48px;
    left: 261px;
    top: 279px;
    border: solid 2px;
    border-radius: 10px;
    border-color: #14a6a6;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
  
    color: #979191;
  }
  .card .imput3 {
    position: absolute;
    width: 408px;
    height: 48px;
    left: 261px;
    top: 354px;
    border: solid 2px;
    border-radius: 10px;
    border-color: #14a6a6;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
  
    color: #979191;
  }
  .card .imput4 {
    position: absolute;
    width: 408px;
    height: 48px;
    left: 261px;
    top: 429px;
    border: solid 2px;
    border-radius: 10px;
    border-color: #14a6a6;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #979191;
  }
  .card .salvar {
    display: table;
    position: absolute;
    width: 159px;
    height: 52px;
    left: 261px;
    top: 535px;
    background-color: #5aba38;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #ffffff;
    border-radius: 10px;
    border-color: #ffffff;
  }
  
  .card .cancelar {
    display: table;
    position: absolute;
    width: 159px;
    height: 52px;
    left: 510px;
    top: 535px;
    background-color: #ff4d07;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #ffffff;
    border-radius: 10px;
    border-color: #ffffff;
  }
  