<div fxLayout="row">

  <mat-toolbar class="nav-bar mat-elevation-z4 ">
    <a (click)="home()" class="logo">
      EducaManager
    </a>

    <div>
      <mat-form-field appearance="outline" class="search">
        <input matInput type="text" placeholder="Buscar..." [formControl]="search" [matAutocomplete]="auto">
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" (optionSelected)='selectOption($event)'
          [displayWith]="itemDisplayFn">
          <mat-option *ngFor="let option of resultContexts" [value]="option">
            {{option?.name}} ({{option?.creator?.name}})
          </mat-option>
        </mat-autocomplete>
        <mat-icon class="button-search" matSuffix (click)="stringSearch()">search</mat-icon>
      </mat-form-field>
    </div>


    <button (click)="criar()" class="button"> Criar </button>


    <button [matMenuTriggerFor]="menu" class="snackbutton" data-cy="menu-profile">
      <img class="a" src="assets/perfil.svg" alt="logo">
    </button>
    <mat-menu #menu="matMenu">
      <button (click)="verPerfil()" mat-menu-item>
        <mat-icon>visibility </mat-icon> Ver perfil
      </button>
      <button (click)="openDialogEditUser()" mat-menu-item>
        <mat-icon> edit</mat-icon> Editar perfil
      </button>
      <button (click)="sair()" mat-menu-item data-cy="logout">
        <mat-icon>logout</mat-icon> Sair
      </button>
    </mat-menu>


  </mat-toolbar>


</div>
