<div class="container" fxFill>
    <app-nav-bar></app-nav-bar>
    <div style="margin-left: 30px;">
        <div style="margin-top: 34px;">
            <!-- rota -->
            <p><a (click)="redirectToContextHome()" class="redirectToContextHome">Home</a> / <a class="color-rota">Meu
                    perfil</a></p>
        </div>
        <div fxLayout="row" style="margin-top: 39px;">
            <div>
                <!-- foto do perfil -->
                <img src="..\..\assets\img\picture-profile.svg" style="width: auto; height: 100px ;">
            </div>
            <div style="margin-left: 35px;">
                <!-- Informações do usuário -->
                <div fxLayout="column" fxLayoutAlign="center end">
                    <div>
                        <a mat-button (click)="openToEditUser()">
                            <mat-icon style="color: #535353;">edit</mat-icon>
                        </a>
                    </div>
                    <div fxLayoutAlign="center start" fxLayout="column">
                        <a class="name-user">{{getLoggedUserName()}}</a>
                        <a class="email-user">{{getLoggedUserEmail()}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div>
            <!-- Título "Meus contextos" -->
            <h1 class="title-context">Meus contextos</h1>
        </div>
        <div style="margin-left: 20px; margin-top: 97px;">
            <!-- Listar contextos dos usuários -->
            <div *ngIf="userContexts?.length === 0" fxLayout="row" fxLayoutAlign="center cernter" fxFill>
                <h2>Nenhum contexto cadastrado.</h2>
            </div>
            <mat-grid-list cols="3" rowHeight="1:1.15">

                <mat-grid-tile *ngFor="let context of userContexts">
                    <mat-card class="card">
                        <mat-card-header style="width: 100%;" fxLayout="column" style="padding-left:10px">
                            <div>
                                <div fxLayout="row" style="width: 100%;" style="padding-left:2px">
                                    <div fxLayoutAlign="start center" fxFlex="50">
                                        <a class="id-context">#{{context.id}}</a>
                                    </div>
                                    <div fxLayoutAlign="end center" fxFlex="50">
                                        <button mat-icon-button [matMenuTriggerFor]="menu">
                                            <mat-icon>more_vert</mat-icon>
                                        </button>
                                        <mat-menu #menu="matMenu">
                                            <button mat-menu-item>
                                                <mat-icon>visibility</mat-icon>
                                                <span>Ver detalhes</span>
                                            </button>
                                            <button mat-menu-item>
                                                <mat-icon>edit</mat-icon>
                                                <span>Editar contexto</span>
                                            </button>
                                            <button mat-menu-item (click)="openDialogDelete(context)">
                                                <mat-icon>delete</mat-icon>
                                                <span>Excluir contexto</span>
                                            </button>
                                        </mat-menu>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <mat-card-title>{{context.name}}</mat-card-title>
                                <mat-card-subtitle>{{getLoggedUserName()}}</mat-card-subtitle>
                            </div>
                        </mat-card-header>
                        <mat-card-content
                            style="padding-top:31px; padding-bottom:31px; padding-left: 38px; padding-right: 38px;">
                            <img mat-card-image [src]="getImage(context.imageUrl)" alt="Photo of a Shiba Inu"
                                style="border-radius: 10%; object-fit: cover; width: 265px; height: 181px;">
                        </mat-card-content>
                        <mat-card-actions fxLayoutAlign="end center" style="padding-right: 25px; padding-bottom: 37px;">
                            <button mat-flat-button color="primary">
                                <mat-icon style="color: #FFFFFF;" (click)="openContextView()">visibility</mat-icon> Ver desafios
                            </button>
                        </mat-card-actions>
                    </mat-card>

                </mat-grid-tile>



            </mat-grid-list>


        </div>
    </div>
</div>